subprojects/ui/src/main/resources/assets/${modId}/ui/schemas/components.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:ui="https://github.com/etaoinshrdlcumwfgypbvkjxqz/Capable-Cables/schemas/ui/components"
           targetNamespace="https://github.com/etaoinshrdlcumwfgypbvkjxqz/Capable-Cables/schemas/ui/components"
           version="2.2.0"
           xml:lang="EN">
	<!-- SECTION ================================================== components ================================================== -->

	<!-- COMMENT ui -->
	<xs:element name="ui" id="ui">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ui:using" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ui:view"/>
				<xs:element ref="ui:component"/>
			</xs:sequence>
			<xs:anyAttribute namespace="##other" processContents="lax"/>
		</xs:complexType>
		<!-- COMMENT component id -->
		<xs:key name="componentID">
			<xs:selector xpath=".//ui:component"/>
			<xs:field xpath="@id"/>
		</xs:key>
		<xs:keyref name="componentIDRef" refer="ui:componentID">
			<xs:selector xpath=".//ui:anchor"/>
			<xs:field xpath="@target"/>
		</xs:keyref>
		<!-- COMMENT using id -->
		<xs:key name="usingID">
			<xs:selector xpath="ui:using"/>
			<xs:field xpath="@alias"/>
		</xs:key>
		<xs:keyref name="usingIDRef" refer="ui:usingID">
			<xs:selector
					xpath="ui:view|.//ui:component|.//ui:shape|.//ui:renderer|.//ui:extension"/><!-- COMMENT no idea why './/ui:*' does not work -->
			<xs:field xpath="@class"/>
		</xs:keyref>
	</xs:element>

	<!-- SECTION top -->

	<!-- COMMENT using -->
	<xs:element name="using" id="using">
		<xs:complexType>
			<xs:attribute name="alias" type="xs:string" use="required"/>
			<xs:attribute name="target" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>

	<!-- SECTION components -->

	<!-- COMMENT shape -->
	<xs:element name="shape" id="shape">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="ui:classBasedType">
					<xs:sequence>
						<xs:element ref="ui:affineTransformDefiner" minOccurs="0"/>
						<xs:element ref="ui:constraint" minOccurs="0" maxOccurs="unbounded"/>
						<xs:group ref="ui:propertyContainerGroup"/>
					</xs:sequence>
					<xs:attribute name="x" type="xs:double"/>
					<xs:attribute name="y" type="xs:double"/>
					<xs:attribute name="width" type="xs:double"/>
					<xs:attribute name="height" type="xs:double"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<!-- COMMENT renderer -->
	<xs:element name="renderer">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="ui:classBasedType">
					<xs:sequence>
						<xs:group ref="ui:propertyContainerGroup"/>
						<xs:group ref="ui:bindingContainerGroup"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<!-- COMMENT extension -->
	<xs:element name="extension">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="ui:classBasedType">
					<xs:sequence>
						<xs:group ref="ui:propertyContainerGroup"/>
						<xs:group ref="ui:bindingContainerGroup"/>
						<xs:element ref="ui:renderer" minOccurs="0"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<!-- COMMENT view -->
	<xs:element name="view">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="ui:classBasedType">
					<xs:sequence>
						<xs:group ref="ui:propertyContainerGroup"/>
						<xs:group ref="ui:bindingContainerGroup"/>
						<xs:element ref="ui:extension" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element ref="ui:anyContainer" minOccurs="0"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<!-- COMMENT component -->
	<xs:element name="component">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="ui:classBasedType">
					<xs:sequence>
						<xs:group ref="ui:propertyContainerGroup"/>
						<xs:group ref="ui:bindingContainerGroup"/>
						<xs:element ref="ui:shape"/>
						<xs:element ref="ui:anchor" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element ref="ui:renderer" minOccurs="0"/>
						<xs:element ref="ui:extension" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element ref="ui:component" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element ref="ui:anyContainer" minOccurs="0"/>
					</xs:sequence>
					<xs:attribute name="id" type="xs:string" use="required"/>
					<xs:attributeGroup ref="ui:componentBindingsGroup"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<!-- SECTION ================================================== utilities ================================================== -->

	<!-- SECTION groups -->

	<!-- COMMENT property container group -->
	<xs:group name="propertyContainerGroup">
		<xs:sequence>
			<xs:element ref="ui:property" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:group>

	<!-- COMMENT binding container group -->
	<xs:group name="bindingContainerGroup">
		<xs:sequence>
			<xs:element ref="ui:binding" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:group>

	<!-- COMMENT DOM bindings group -->
	<xs:attributeGroup name="DOMBindingsGroup">
		<xs:attribute name="load" type="xs:string"/><!-- COMMENT unused, reserved -->
		<xs:attribute name="unload" type="xs:string"/><!-- COMMENT unused, reserved -->
		<xs:attribute name="abort" type="xs:string"/><!-- COMMENT unused, reserved -->
		<xs:attribute name="error" type="xs:string"/><!-- COMMENT unused, reserved -->
		<xs:attribute name="select" type="xs:string"/>
		<xs:attribute name="blur" type="xs:string"/>
		<xs:attribute name="focus" type="xs:string"/>
		<xs:attribute name="focusin" type="xs:string"/>
		<xs:attribute name="focusout" type="xs:string"/>
		<xs:attribute name="auxclick" type="xs:string"/><!-- COMMENT unused, reserved -->
		<xs:attribute name="click" type="xs:string"/>
		<xs:attribute name="dblclick" type="xs:string"/>
		<xs:attribute name="mousedown" type="xs:string"/>
		<xs:attribute name="mouseenter" type="xs:string"/>
		<xs:attribute name="mouseleave" type="xs:string"/>
		<xs:attribute name="mousemove" type="xs:string"/>
		<xs:attribute name="mouseout" type="xs:string"/>
		<xs:attribute name="mouseover" type="xs:string"/>
		<xs:attribute name="mouseup" type="xs:string"/>
		<xs:attribute name="wheel" type="xs:string"/>
		<xs:attribute name="beforeinput" type="xs:string"/><!-- COMMENT unused, reserved -->
		<xs:attribute name="input" type="xs:string"/><!-- COMMENT unused, reserved -->
		<xs:attribute name="keydown" type="xs:string"/>
		<xs:attribute name="keyup" type="xs:string"/>
		<xs:attribute name="compositionstart" type="xs:string"/><!-- COMMENT unused, reserved -->
		<xs:attribute name="compositionupdate" type="xs:string"/><!-- COMMENT unused, reserved -->
		<xs:attribute name="compositionend" type="xs:string"/><!-- COMMENT unused, reserved -->
	</xs:attributeGroup>

	<!-- COMMENT component bindings group -->
	<xs:attributeGroup name="componentBindingsGroup">
		<xs:attributeGroup ref="ui:DOMBindingsGroup"/>
		<xs:attribute name="char_typed" type="xs:string"/>
	</xs:attributeGroup>

	<!-- SECTION elements -->

	<!-- COMMENT IUIPropertyMappingValue -->
	<!-- COMMENT property -->
	<xs:element name="property" type="ui:propertyType"/>
	<xs:complexType name="propertyType">
		<xs:sequence>
			<xs:any minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="key" type="xs:string" use="required"/>
	</xs:complexType>
	<!-- COMMENT binding -->
	<xs:element name="binding" type="ui:bindingType"/>
	<xs:complexType name="bindingType">
		<xs:complexContent>
			<xs:extension base="ui:propertyType">
				<xs:attribute name="binding" type="xs:string" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!-- COMMENT method -->
	<xs:element name="method">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="name" type="xs:string" use="required"/>
					<xs:attribute name="delimiter" type="xs:string" default=","/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>

	<!-- COMMENT IShapeConstraint -->
	<xs:element name="constraint">
		<xs:complexType>
			<xs:attribute name="minX" type="xs:double"/>
			<xs:attribute name="minY" type="xs:double"/>
			<xs:attribute name="maxX" type="xs:double"/>
			<xs:attribute name="maxY" type="xs:double"/>
			<xs:attribute name="minWidth" type="xs:double"/>
			<xs:attribute name="minHeight" type="xs:double"/>
			<xs:attribute name="maxWidth" type="xs:double"/>
			<xs:attribute name="maxHeight" type="xs:double"/>
		</xs:complexType>
	</xs:element>

	<!-- COMMENT IShapeAnchor -->
	<xs:element name="anchor">
		<xs:complexType>
			<xs:attribute name="target" type="xs:string" use="required"/>
			<xs:attribute name="originSide" type="ui:sideType" use="required"/>
			<xs:attribute name="targetSide" type="ui:sideType" use="required"/>
			<xs:attribute name="borderThickness" type="xs:double" default="0"/>
		</xs:complexType>
	</xs:element>

	<!-- COMMENT EnumUISide -->
	<xs:simpleType name="sideType">
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="UP"/>
			<xs:enumeration value="DOWN"/>
			<xs:enumeration value="LEFT"/>
			<xs:enumeration value="RIGHT"/>
			<xs:enumeration value="HORIZONTAL"/>
			<xs:enumeration value="VERTICAL"/>
		</xs:restriction>
	</xs:simpleType>

	<!-- COMMENT AffineTransform -->
	<xs:element name="affineTransformDefiner">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ui:affineTransform" minOccurs="0"/>
				<xs:element ref="ui:method" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="affineTransform">
		<xs:complexType>
			<xs:attribute name="translateX" type="xs:double" default="0"/>
			<xs:attribute name="translateY" type="xs:double" default="0"/>
			<xs:attribute name="scaleX" type="xs:double" default="1"/>
			<xs:attribute name="scaleY" type="xs:double" default="1"/>
			<xs:attribute name="shearX" type="xs:double" default="0"/>
			<xs:attribute name="shearY" type="xs:double" default="0"/>
		</xs:complexType>
	</xs:element>

	<!-- COMMENT any container -->
	<xs:element name="anyContainer">
		<xs:complexType>
			<xs:sequence>
				<xs:any minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!-- SECTION types -->

	<!-- COMMENT class-based type -->
	<xs:complexType name="classBasedType">
		<xs:attribute name="class" type="xs:string" use="required"/>
	</xs:complexType>
</xs:schema>
